@model Capstone.Web.Models.MyEchoBooksViewModel
@{
    ViewBag.Title = "Reading List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="echoBooks">My Echo Books</h2>

<h3 class="echoBooks">Welcome, @Model.CurrentUser.Username</h3>

@foreach (var book in Model.ReadingList)
{
    <div>
        <div class="readingListImg">
            @if (string.IsNullOrEmpty(book.ImageLink))
            {
                <img class="detailImg" src="@Url.Content("~/Content/echobookslogo.png")" />
            }
            else
            {
                <img class="detailImg" src="@book.ImageLink" />
            }
        </div>

        <div class="readingListDesc">
            <p><span class="readingListTitle">@book.Title</span><span class="readingListAuthor"> by @book.Author</span></p>
             @if(book.HasRead)
             {
                 <p class="hasRead">You have read this book!</p>
             }
             else
             {
                 <p class="toRead">On your To-Be-Read Shelf!</p>
                <button>@Html.ActionLink("I've read it!", "ChangeToRead", new { bookID = book.BookID })</button>
             }
        </div>
    </div>


}