@model Capstone.Web.Models.MyEchoBooksViewModel
@{
    ViewBag.Title = "Reading List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <h2 class="echoBooks">My Echo Books Reading List</h2>
    <h4 class="echoBooks">Welcome, @Model.CurrentUser.Username</h4>
    <div class="container">
       
        @for (int i = 0; i < Model.ReadingList.Count(); i++)
        
        {
            <div class="col-md-3 readingListDesc">
                <div class="readingListImgContainer">
                    @if (string.IsNullOrEmpty(Model.ReadingList[i].ImageLink))
                    {
                        <img class="readingListImg" src="@Url.Content("~/Content/echobookslogo.png")" />
                    }
                    else
                    {
                        <img class="readingListImg" src="@Model.ReadingList[i].ImageLink" />
                    }

                    @if (Model.ReadingList[i].HasRead)
                    {
                        <img class="checkmark" src="@Url.Content("~/Content/check-mark.png")" alt="Checkmark" />

                    }

                </div>
                <p class="readingListTitle">@Html.ActionLink(@Model.ReadingList[i].Title, "BookDetail", "Book", new { bookID = Model.ReadingList[i].BookID }, null)</p>
                <p class="readingListAuthor"> by @Model.ReadingList[i].Author</p>

                <div class="readingListButton">
                    @if (!Model.ReadingList[i].HasRead)

                    {
                        <a href="@Url.Action("ChangeToRead", "MyEchoBooks", new { bookID = Model.ReadingList[i].BookID })" class="btn btn-warning">Mark as Read&nbsp;<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a>

                    }
                </div>
            </div>
            if((1+i) % 3 != 0)
            {
            <div class="col-md-1"></div>
            }
        }
       
      
    </div>

</body>


   