@model Capstone.Web.Models.MyEchoBooksViewModel
@{
    ViewBag.Title = "Reading List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <h2 class="echoBooks">My Echo Books Reading List</h2>
    <h4 class="echoBooks">Welcome, @Model.CurrentUser.Username</h4>
    <div class="container">
       
        @foreach (var book in Model.ReadingList)
            {
            <div class="col-md-3 readingListDesc">
                <div class="readingListImgContainer">
                    @if (string.IsNullOrEmpty(book.ImageLink))
                    {
                        <img class="readingListImg"src="@Url.Content("~/Content/echobookslogo.png")" />
                    }
                    else
                    {
                        <img class="readingListImg"src="@book.ImageLink" />
                    }

                    @if (book.HasRead)
                    {
                        <img class="checkmark" src="@Url.Content("~/Content/check-mark.png")" alt="Checkmark" />

                    }

                </div>
                <p class="readingListTitle">@Html.ActionLink(@book.Title, "BookDetail", "Book", new { bookID = book.BookID }, null)</p>
                <p class="readingListAuthor"> by @book.Author</p>

                <div class="readingListButton">
                    @if (!book.HasRead)

                    {
                        <a href="@Url.Action("ChangeToRead", "MyEchoBooks", new { bookID = book.BookID })" class="btn btn-warning">Mark Read&nbsp;<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a>

                    }
                </div>
            </div>
        }
      
    </div>

</body>


@*<table class="table table-striped">

        <tbody>
            @foreach (var book in Model.ReadingList)
            {
                <tr >
                    <td>
                        @if (string.IsNullOrEmpty(book.ImageLink))
                    {
                            <img class="img-responsive" src="@Url.Content("~/Content/echobookslogo.png")" />
                        }
                        else
                        {
                            <img class="img-responsive" src="@book.ImageLink"/>
                        }
                    </td>

                    <td>
                        <p class="readingListDesc"><span class="readingListTitle">@book.Title</span><span class="readingListAuthor"> by @book.Author</span></p>
                    </td>
                    <td>
                        @if (book.HasRead)
                    {
                            <p><span class="glyphicon glyphicon-ok"></span></p>

                        }
                        else
                        {
                            <a href="@Url.Action("ChangeToRead", "MyEchoBooks", new { bookID = book.BookID })" class="btn btn-warning">Mark as Read&nbsp;<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a>

                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>*@