@model Capstone.Web.Models.MyEchoBooksViewModel
@{
    ViewBag.Title = "Reading List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="echoBooks">My Echo Books Reading List</h2>

<h3 class="echoBooks">Welcome, @Model.CurrentUser.Username</h3>



    <table class="table table-striped">

    <tbody>
        @foreach (var book in Model.ReadingList)
        {
            <tr >
                <td>
                    @if (string.IsNullOrEmpty(book.ImageLink))
                {
                        <img class="img-responsive" src="@Url.Content("~/Content/echobookslogo.png")" />
                    }
                    else
                    {
                        <img class="img-responsive" src="@book.ImageLink"/>
                    }
                </td>

                <td>
                    <p class="readingListDesc"><span class="readingListTitle">@book.Title</span><span class="readingListAuthor"> by @book.Author</span></p>
                </td>
                <td>
                    @if (book.HasRead)
                {
                        <p><span class="glyphicon glyphicon-ok"></span></p>

                    }
                    else
                    {       
                        <a href="@Url.Action("ChangeToRead", "MyEchoBooks", new { bookID = book.BookID })" class="btn btn-warning">Mark as Read&nbsp;<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></a>

                    }
                </td>

            </tr>
        }
    </tbody>
</table>