@model Capstone.Web.Models.ThreadModel
@{
    ViewBag.Title = "SubmitThread";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>What's on your mind?</h2>

@using (Html.BeginForm("AddAThread", "Forum", FormMethod.Post))
{
    <div>
        @Html.Label("threadName", "Enter a new topic")
        @Html.TextAreaFor(t => t.ThreadName, new { style = "width:60%;" })
    </div>
    <div>
        @Html.HiddenFor(t =>t.UserID)
        @Html.HiddenFor(t=>t.CategoryID)
    </div>
    <div>
        @Html.HiddenFor(t=>t.ThreadDate)
    </div>
    <button>Let's talk about it!</button>
}

