@model Capstone.Web.Models.PostResultsViewModel
@{
    ViewBag.Title = "ViewPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View All Posts in the Selected Thread</h2>

<div>@Model.SelectedThread.Username</div>
<div>@Model.SelectedThread.ThreadDate</div>

<div>@Model.SelectedThread.ThreadName</div>



@foreach (var post in Model.AllPostsInThread)
{
    <div>@post.Username</div>
    <div>@post.PostDate</div>

    <div>@post.PostBody</div>
}

