@model Capstone.Web.Models.PostResultsViewModel
@{
    ViewBag.Title = "ViewPosts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="threadHead">
    <h2>@Model.SelectedThread.ThreadName</h2>

    <div class="threadUser">
        <p><span class="italic">posted by:</span>@Model.SelectedThread.Username <span class="italic">on </span>@Model.SelectedThread.ThreadDate</p>
    </div>
</div>

@Html.Partial("_PartialPostsView", Model);

@using (Html.BeginForm("AddAPost", "Forum", FormMethod.Post))
{
    <div>
        @Html.Label("postBody", "Submit your post here!")
        @Html.TextAreaFor(p => p.NewPost.PostBody, new { style = "width:60%;" })
    </div>
    <div>
        @Html.HiddenFor(p => p.NewPost.UserID)
    </div>
    <div>
        @Html.HiddenFor(p => p.NewPost.PostDate)
    </div>
    <div>
        @Html.HiddenFor(p => p.NewPost.ThreadID)
        @Html.HiddenFor(p => p.SelectedThread.ThreadID)
        @Html.HiddenFor(p => p.SelectedThread.ThreadName)
    </div>
    <button>Submit!</button>
}




