@model List<Capstone.Web.Models.ThreadModel>
@{
    ViewBag.Title = "ViewThreads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Echo Books Forum</h2>

    <button class="addThreadBtn">@Html.ActionLink("Create a new thread", "AddAThread", "Forum", new { categoryID = Convert.ToInt32(Request.QueryString["categoryID"]) }, null)</button>
<table class="table table-striped">
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td class="eachThread">@Html.ActionLink(Model[i].ThreadName, "ViewPosts", "Forum", new { threadID = Model[i].ThreadID }, null)</td>


            <td><span class="italic">posted by: </span>@Model[i].Username<span class="italic"> on </span>@Model[i].ThreadDate</td>
            @Html.Hidden(Model[i].UserID.ToString())
        </tr>
    }
</table>
