@model Capstone.Web.Models.BookModel
@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="container">
    <div class="detailImg">
        <img src="@Model.ImageLink"/>
    </div>
    <div class="detailDesc">
        <h2>@Model.Title</h2>
        <h3>@Model.Author</h3>
        <p>Join @Model.MainCharacter in @Model.Setting for a @Model.Genre adventure!</p>
        <p>@Model.Description</p>
        @if ((@Model.DateAdded.CompareTo(DateTime.Now)) < 30)
        {
            <h2 id="red">NEW!</h2>
        }
    </div>

</div>