@model Capstone.Web.Models.BookDetailViewModel
@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="container">

    <img class="detailImg" src="@Model.CurrentBook.ImageLink" />

    <div class="detailDiv">
        <h2 class="detailTitle">@Model.CurrentBook.Title</h2>
        <h3 class="detailAuthor">@Model.CurrentBook.Author</h3>
        <h4 class="detailTagLine">Join @Model.CurrentBook.MainCharacter in @Model.CurrentBook.Setting for a @Model.CurrentBook.Genre adventure!</h4>
        <h4 class="detailDescription">@Model.CurrentBook.Description</h4>

    </div>
    <div id="addToList">
        @if (!Model.IsBookInList && Model.CurrentUser != null)
        {
            <button> @Html.ActionLink("Add to My Echo Books reading list", "AddToReadingList", "Book", new { bookID = Model.CurrentBook.BookID, userID = Model.CurrentUser.UserID }, null)</button>
        }
        else if (Model.CurrentUser != null)
        {
            <p>In<span id="MyEB"> My Echo Books</span> reading list.</p>
        }
    </div>

</div>

<div>
    @Html.Action("RenderPartialBookReviewView", "Book", new { id = Model.CurrentBook.BookID })

</div>

<div>

    @* Need to write logic for only admin use *@
    <button> @Html.ActionLink("Write A Review", "SubmitBookReview", "Book", new { id = Model.CurrentBook.BookID }, null)</button>

</div>
@*<div><button onclick="window.location.href='/Book/BookDetail'"></button></div>*@