@model Capstone.Web.Models.BookModel
@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="container">

        <img class="detailImg"src="@Model.ImageLink"/>

    <div class="detailDiv">
        <h2 class="detailTitle">@Model.Title</h2>
        <h3 class="detailAuthor">@Model.Author</h3>
        <h4 class="detailTagLine">Join @Model.MainCharacter in @Model.Setting for a @Model.Genre adventure!</h4>
        <h4 class="detailDescription">@Model.Description</h4>

    </div>
    @Html.ActionLink("Write A Review", "SubmitBookReview", "Book", new { id = Model.BookID }, null)

</div>