@model Capstone.Web.Models.ReviewModel
@{
    ViewBag.Title = "SubmitBookReviewView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submit A Review for @Model.Title</h2>

@using (Html.BeginForm("SubmitBookReview", "Book", FormMethod.Post))
{
    
    <div class="reviewBox">
        @Html.Label("Review", "Review")
        @Html.TextAreaFor(b => b.Review, new { style = "width: 75%;" })
    </div>
    @Html.HiddenFor(m => m.BookID)
    @Html.HiddenFor(m => m.UserID)
        
<button id="reviewSubmit">Submit!</button>
}


