
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <img id="logo" src="~/Content/echobooks.png" alt="Echo Books Logo" />
        
    </header>
    <nav id="navBar" class="navbar navbar-default">
        
        
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("New Books", "NewBookList", "Book")</li>
            <li>@Html.ActionLink("New Authors","NewAuthorList","Home")</li>
            @Html.Action("GetAuthenticatedUser", "Users")
            

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.Partial("_PartialSearchView", new Capstone.Web.Models.SearchResultModel())</li>
        </ul>
       
    </nav>

    <div class="mainDiv">
        

            @RenderBody()
       
    </div>
    
    <footer id="footer">

    </footer>
    
</body>
</html>
