@model Capstone.Web.Models.UserModel

@if (Session["UsernameKey"] == null)
{
    <li>@Html.ActionLink("Login", "Login", "Users")</li>
    <li>@Html.ActionLink("Register", "NewUser", "Users")</li>
}
else
{
    if (Model.IsAdmin)
    {
        <li>@Html.ActionLink("Add New Title", "AddNewBook", "Book")</li>
    }
    <li>@Html.ActionLink($"Hello, {Model.Username}!", "ReadingList", "MyEchoBooks")</li>
    <li>@Html.ActionLink("Logout", "Logout", "Users")</li>
}
